/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/.idea

/src/AdminBundle/
/src/UserBundle/
/src/CommentBundle/
/src/WebBundle/

/app/Resources/AppAdminBundle/
/app/Resources/translations/
/app/Resources/views-2/
/app/Resources/TwigBundle/