.main-slide .prev, .main-slide .next {
    cursor: pointer;
    display: none;
    font-size: 0;
    height: 101px;
    line-height: 0;
    position: absolute;
    top: 250px;
    width: 51px;
    z-index: 20;
}
.main-slide .prev {
    background: url("../../images/left-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: 25px;
}
.main-slide .next {
    background: url("../../images/right-btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    right: 25px;
}
.main-img-list {
    overflow: hidden;
    width: 100%;
}
.main-img-list li {
    float: left;
}


.ind-banner {
    background-color: #f8f8f8;
    height: 500px;
    margin: 0 auto;
    width: 100%;
}
.inpic-tab {
    height: 500px;
    margin: 0 auto;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0;
}

ul.slide-list li a {
    left: 50%;
    margin-left: -960px;
    position: absolute;
    top: 0;
}
.switchable-triggerBox {
    font-size: 0;
    height: 18px;
    left: 0;
    line-height: 0;
    position: absolute;
    text-align: center;
    top: 460px;
    width: 100%;
    z-index: 10;
}
.switchable-triggerBox span {
    background: url("../../images/yuan-white.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 18px;
    margin: 0 3px;
    text-align: center;
    width: 18px;
}
.switchable-triggerBox span.active {
    background: url("../../images/yuan-black.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

ul.slide-list li {
    display: block;
    height: 500px;
    position: absolute;
    width: 100%;
}

ul.slide-list li img {
    height: 500px;
}

ul.slide-list li a {
    margin-left: -800px;
}

.indexgoods {
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    width: 1200px;
}

.indexgoods {
    font-size: 0;
    text-align: center;
    width: auto;
}
.indexgoods .title-banner {
    float: left;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.indexgoods .title-banner {
    display: inline-block;
    float: none;
}

.indexgoods .title-banner .title {
    background: url("../../images/mb-bg.png") repeat-x;
    bottom: -50px;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 46px;
    left: 0;
    line-height: 21px;
    padding: 4px 10px 0;
    position: absolute;
    text-align: center;
    transition: bottom 0.5s ease 0s;
    width: 280px;
}

.indexgoods .title-banner a:hover {
    border: medium none;
}

.indexgoods .title-banner .title {
    padding: 4px 0 0;
    width: 100%;
}

.indexgoods .title-banner a:hover .title {
    bottom: 0;
    transition: bottom 0.5s ease 0s;
}
.indexgoods ul.goods-list li.goods-item {
    float: left;
    height: 266px;
    width: 300px;
}
.indexgoods ul.goods-list li.goods-item .goods-name,
.indexgoods ul.goods-list li.goods-item .goods-price{
    display: none;
}