html, body {
    color: #604136;
    font-size: 12px;
    line-height: 1.5;
}
a {
     color: #8c6a55;
     cursor: pointer;
     text-decoration: none;
 }

.inner-wrap {
    max-width: none;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1200px;
}
.breadcrumb {
    padding: 15px 0;
    background: #fff;
    margin-bottom: 0;
}

.breadcrumb .active {
    color: #dacbc3;
    font-family: "微软雅黑";
}

.filter-lists-container .filter-entries-label {
    float: left;
    margin-right: 3px;
    text-align: right;
    width: 76px;
    font-size: 12px;
    font-weight: normal;
}

.filter-lists-container .filter-entries-values {
    margin-left: 80px;
    margin-right: 50px;
}

.filter-item {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    margin: 0 3px 3px;
}

span.filter-item {
    margin: 0 13px 3px !important;
}

.filter-lists-container .active {
    background-color: #491903;
}


.filter-lists-container .active .handle {
    color: white;
}


.gallery-show .goods-pic {
    position: relative;
}

.gallery-list .goods-pic {
    border: 0 none;
    float: left;
    font-family: Arial;
    height: 100px;
    line-height: 98px;
    margin-right: 10px;
    overflow: hidden;
    text-align: center;
    width: 100px;
}

.gallery-list .goods-pic {
    height: 200px;
    width: 200px;
}

.gallery-list .goods-pic img {
    max-height: 100px;
    max-width: 100px;
    vertical-align: middle;
}
.gallery-list .goods-pic img {
    max-height: 200px;
    max-width: 200px;
}


.gallery-list .goods-action {
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    width: 172px;
}
.gallery-list .goods-action {
    background-color: #fdf7f2;
    padding: 48px 0;
}
.gallery-list .goods-action {
    margin-top: 0;
}

.goods-item .goods-buy {
    margin-bottom: 15px;
}
.goods-item .goods-buy {
    margin-bottom: 0;
}
a.btn {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.gallery-list .goods-item .action-view {
    background: url("../../images/21cakelist_29.png") no-repeat 26px 10px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #6e3311;
    font-family: "微软雅黑";
    font-size: 13px;
    font-weight: normal;
    height: 50px;
    padding-left: 45px;
    padding-top: 17px;
    width: 172px;
}
.gallery-list .goods-item .action-addtocart {
    background: url("../../images/21cakelist_32.png") no-repeat 26px 10px;
    border-bottom: 1px solid #fff;
    color: #6e3311;
    font-family: "微软雅黑";
    font-size: 13px;
    font-weight: normal;
    height: 50px;
    padding-left: 45px;
    padding-top: 17px;
    width: 172px;
}


.gallery-list .goods-item .goods-others {
    display: none;
}

.gallery-list .goods-price {
    color: #666;
    float: right;
    margin-top: 10px;
    width: 180px;
}

.listgoodprice-21cake {
    padding-top: 75px;
}

.color4919 {
    color: #491903;
}
.smallrmb {
    font-size: 12px;
}

.listgoodprice-21cake .price {
    color: #491903;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
}

.listgoodprice-21cake b {
    color: #491903;
    font-family: "微软雅黑";
    font-size: 12px;
    font-weight: normal;
}


.gallery-list .goods-info {
    margin-left: 230px;
    margin-right: 440px;
    padding-top: 40px;
}

.goods-item .goods-name {
    max-height: 46px;
    font-weight: 400;
    overflow: hidden;
    margin-bottom: 10px;
}

.gallery-list .goods-item h3.goods-name {
    color: #8e6a55;
    font-family: "微软雅黑";
    font-size: 16px;
}

.gallery-list .goods-desc {
    color: #8e6a55;
}